/* CSS Document -- All pages within site */

* {
	padding: 0;
	margin: 0;
}

.clearBoth {
	clear: both;
	height: 0px;
	overflow: hidden;
}

.btnRight {
	float: right;
}

.imgLeft, .floatLeft {
	float: left;
}

.imgLeft {
	margin:0 10px 10px 0;	
}

.imgRight, .floatRight {
	float: right;
}

.imgRight {
	margin:0 0 10px 10px;	
}

.imgTop {
	margin: 0 0 15px 0;	
}

.divider {
	height: 2px;
	margin: 10px 0 20px 0;
	border: none;
	line-height: 0px;
	background-color: #7F99AE;
	width: 100%;
	overflow: hidden;
}

a {
	border: none;
	text-decoration: none;
}

img {
	border:none;
	display: block;
}

p, ul, li, h3, h4, label, a, title, div {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	color: #000; /*000*/
}

p, li, ul, label, a, title {
	font-size: 12px;
}

p {
	line-height: 140%;
}

textarea {
	resize: none;
}

h1 {
	font-family: Arial Narrow, sans-serif;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	padding: 0 5px;
	width: 860px;
	text-align: left;
}

span.lowercase {
	text-transform: lowercase;
}

div#topBar {
	height: 30px;
}

div#tollFreeNumber {
	float: left;
	margin: 8px 0 0 0;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

ul#subNav {
	float: right;
	color: #000;
}

#subNav li {
	float: left;
	list-style-type: none;
	margin: 6px 0 0 15px;
	font-size: 10px;
	display: inline-block;
}

#subNav a {
	height: 20px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2px 20px 0 0;
	background: url(../../images/subNavBtn.gif) right 1px no-repeat;
	display: inline-block;
}

#subNav a:hover {
	color: #ddd;
}

div#mainHeader {
	border-top: 1px solid #444;
	height: 63px;
	width: 868px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 2px 0 0;
	overflow: hidden;
}

ul#mainNav {
	margin: 30px 0 0 0;
	float: right;
}

#mainNav li {
	float: left;
	list-style-type: none;
}

div#whiteContentBkgd {
	background: #fff;
	padding: 25px 0 45px 0;
	margin: 0;
}

div#footerBkgd {
	background: url(../../images/footerFullBkgd.jpg) repeat-x #363636;
	overflow: hidden;
	border-top: 5px solid #222;
}

div#footer {
	padding: 25px 0 45px 0;
	margin-left: auto;
	margin-right: auto;
	background: url(../../images/footerBkgd.jpg) top center no-repeat #363636;
	color: #fff;
}

#footer p {
	margin: 20px 0 0 0;
	color: #fff;
}

#footer h2 {
	font-family: Arial Narrow, sans-serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #ccc;
}

div#footerColLeft {
	width: 195px;
	margin: 0 0 0 10px;
	float: left;
}

div#footerColMid {
	width: 195px;
	margin: 0 0 0 20px;
	float: left;
	display: inline;
}

#footerColMid form {
	z-index: 1;
	position: relative;
	margin: 20px 0 0 0;
}

#footerColMid input#email {
	z-index: 2;
	position: absolute;
	width: 157px;
	padding: 0 28px 1px 10px;
	height: 24px;
	color: #ccc;
	border: none;
	background: url(../../images/newsletterInput.gif) no-repeat;
	text-align: center;
}

#footerColMid input#submit {
	z-index: 3;
	position: absolute;
	top: 3px;
	left: 172px;
}
	
div#footerColRight {
	width: 395px;
	margin: 0 20px 0 0;
	float: right;
	display: inline;
}

#footerColRight a {
	height: 20px;
	color: #fff;
	background: url(../../images/footerBtnSmall.gif) no-repeat;
	display: inline-block;
	padding: 1px 0 0 25px;
}

#footerColRight a:hover {
	color: #ddd;
}

ul#webMenuLeft {
	margin: 19px 0 0 45px;
	float: left;
	display: inline;
	width: 150px;
}

ul#webMenuRight {
	margin: 19px 0 0 0;
	float: right;
	display: inline;
	width: 200px;
}

#webMenuLeft li, #webMenuRight li {
	list-style-type: none;
	margin: 0 0 5px 0;
	color: #fff;
}

#webMenuLeft li:last-child, #webMenuRight li:last-child {
	margin: 0;
}