/* This is the print stylesheet */

/* CSS Document - Print specific */

body {
	color: #000 !important; /* we want everything in black */
	background-color:#fff !important; /* on white background */
	font-family:arial; /* arial is nice to read ;) */
	border:0 !important; /* no borders thanks */
	font-size: 12pt;
}

h1 {
	font-size: 18pt;
}

h2, h3, h4, h5, div#pageSubHead {
	font-size: 15pt !important;
	font-weight: normal !important;
	padding: 10px 0;
	margin: 0;
}

img {
	margin: 10px 0;
}

div#mainHeader {
	background-color: #666 !important;
	width: 100% !important;
}

/* This affects every tag */

* {
	border:0 !important; /* again no borders on printouts */
}

/* 

remove all width constraints from content area

*/

div#content {
	display:block !important;
	width:100% !important;
	border:0 !important;
	padding:1em !important;
}

img {
	float:none !important; /* this makes images couse a pagebreak if it doesnt fit on the page */
}

/* hide everything else! */

div#topBar, ul#mainNav, div#homeMain, ul#hiddenTabs, img.btnRight, div#footerColMid, div#footerColRight, div#menuLeft, div#contactBox, form {
	display: none !important;
}