/* CSS Document -- Homepage */

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #fff;
	background-image: url(../../../images/bodyBkgdInterior.jpg);
	background-position: top center;
	background-repeat: repeat-x;
	color: #000;
	text-align: center;
	min-width: 870px;
}

html {
	text-align: left;
	min-height: 100%;
	margin-bottom: 1px;
}

div#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -210px;
}

.clearfooter {
	height: 210px;
	background: #fff;
}

h4 {
	font-family: Arial Narrow, sans-serif;
	font-size: 15px;
	line-height: 16px;
	padding: 0 0 10px 0;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
	float: left;
}

div.eWorkWellFooter {
	height: 210px !important;
}

div#navBottomBorder {
	height: 6px;
	width: 100%;
	overflow: hidden;
}

.wrapperEightSeventy {
	margin-left: auto;
	margin-right: auto;
	width: 870px;
	text-align: left;
}

.wrapperEightSeventy p {
	margin: 0 0 10px 0;
	line-height: 20px;
}

.wrapperEightSeventy p:last-child {
	margin: 0;
}

div#pageSubHead {
	font-family: Arial Narrow, sans-serif;
	background: url(../../../images/interiorSubHeadBkgd.jpg) no-repeat;
	height: 28px;
	line-height: 15px;
	padding: 17px 0 0 20px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

/*--login page--*/

div#login {
	margin: 75px 0;
}

div#login h1 {
	width: 431px;
	margin: 0 auto 10px auto;
}

div#eWorkWellLogin {
	width: 437px;
	margin: 0 auto;
	background: url(../../images/loginMidBkgd.jpg) repeat-y;
}

div#eWorkWellLogin form {
	width: 377px !important;
	padding: 0 30px 25px;
	background: url(../../images/loginBottomBkgd.jpg) bottom center no-repeat;
}

div#eWorkWellLogin label {
	float: left;
	width: 80px;
	margin: 0 0 10px 0;
	display: block;
	line-height: 20px;
}

div#eWorkWellLogin input {
	float: right;
	width: 280px;
	height: 18px;
	margin: 0 0 10px 0;
	border-left: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	border-top: 1px solid #aaa;
	display: inline;
}

div#eWorkWellLogin input#loginSubmit {
	margin-top: 5px !important;
}

/*--Web application styles--*/

div.eWorkWellColumn {
	position: relative;
	float: left;
	margin: 0 12px -30px -3px;
}

.eWorkWellColumn a {
	color: #4C7EA8;
}

.eWorkWellColumn a:hover {
	text-decoration: underline;
}

div.sectionTotalBkgd {
	width: 206px;
	background: url(../../images/sectionRepeat.jpg) top center repeat-y;
}

h3.sectionHead {
	width: 176px;
	height: 15px;
	min-height: 15px;
	padding: 0 15px !important;
	background: url(../../images/sectionMid.jpg) top center no-repeat;
	font-size: 12px;
	line-height: 100%;
	color: #333;
	display: block;
}

div.sectionTop {
	width: 206px;
	height: 8px;
	background: url(../../images/sectionTop.jpg) top center no-repeat;
	font-size: 0;
	line-height: 0;
}

div.sectionBottom {
	width: 206px;
	height: 8px;
	background: url(../../images/sectionBottom.jpg) top center no-repeat;
	font-size: 0;
	line-height: 0;
}

.sectionContent {
	width: 200px;
	margin: 0 0 30px 0;
}

.sectionContent p {
	margin: 15px 15px;
	padding: 0 0 0 30px;
	min-height: 16px;
	background: url(../../images/iconPerson.gif) top left no-repeat;
}

.sectionContent li {
	margin: 15px 15px;
	padding: 0 0 0 30px;
	list-style-type: none;
	min-height: 16px;
}

li.edit {
	background: url(../../images/iconPaperPencil.gif) top left no-repeat;
}

li.report {
	background: url(../../images/iconPhone.gif) top left no-repeat;
}

li.schedule {
	background: url(../../images/iconCalendar.gif) top left no-repeat;
}

li.view {
	background: url(../../images/iconPaper.gif) top left no-repeat;
}

li.message {
	background: url(../../images/iconSpeechBubble.gif) top left no-repeat;
}

li.search {
	background: url(../../images/iconMagnify.gif) top left no-repeat;
}

li.request {
	background: url(../../images/iconPaperPlus.gif) top left no-repeat;
}

li.pStyle {
	background: url(../../images/iconPerson.gif) top left no-repeat;
	line-height: 140%;
}

/*--end of dashboard styles--*/

div.eWorkWellFooter div#footer {
	background: url(../../images/eWorkWellFooterBkgd.jpg) top center no-repeat !important;
}

div.eWorkWellFooter div#footerColRight {
	width: 580px;
	margin: 0 30px 0 0;
	float: right;
	display: inline;
}

div.eWorkWellFooter #footerColRight a {
	height: 20px;
	color: #fff;
	background: url(../../../images/footerBtnSmall.gif) no-repeat;
	display: inline-block;
	padding: 1px 0 0 25px;
}

div.eWorkWellFooter #footerColRight a:hover {
	color: #ddd;
}

div.eWorkWellFooter ul#webMenuLeft {
	margin: 19px 15px 0 0px;
	float: left;
	display: inline;
	width: 200px;
}

div.eWorkWellFooter ul#webMenuMid {
	margin: 19px 15px 0 0;
	float: left;
	display: inline;
	width: 200px;
}

div.eWorkWellFooter ul#webMenuRight {
	margin: 19px 0 0 0;
	float: right;
	display: inline;
	width: 150px;
}

div.eWorkWellFooter #webMenuLeft li, #webMenuMid li, #webMenuRight li {
	list-style-type: none;
	margin: 0 0 5px 0;
	color: #fff;
}

div.eWorkWellFooter #webMenuLeft li:last-child, #webMenuRight li:last-child {
	margin: 0;
}

/*--app section titles--*/

div.appHeader {
	width: 866px;
	margin: 0 0 15px -3px;
	background: url(../../images/sectionBkgdRight.jpg) top right repeat-y #DEDEDE;
}

div.appHeader h3 {
	padding: 0 7px !important;
	margin: 0 0 0 7px;
	text-transform: none;
	color: #333;
	font-size: 12px;
	overflow: hidden;
	background: url(../../images/sectionMidRight.jpg) top right no-repeat;
	min-height: 15px;
}

div.tableSectionTop, div.appHeaderTop {
	width: 100%;
	height: 8px;
	background: url(../../images/sectionTopMid.jpg) repeat-x;
}

div.tableSectionBottom, div.appHeaderBottom {
	width: 100%;
	height: 8px;
	background: url(../../images/sectionBottomMid.jpg) repeat-x;
}

/*--my eworkwell forms--*/

.wideAppForm, .shortAppForm {
	width: auto;
	margin: 0 0 15px 0;
	padding: 0 0 0 13px;
}

.wideAppForm label {
	width: 200px;
	margin: 0 10px 5px 0;
	float: left;
	line-height: 18px;
}

.shortAppForm label {
	width: 100px;
	margin: 0 10px 5px 0;
	float: left;
	line-height: 18px;
}

label.midLabel {
	width: auto !important;
	margin: 0 5px 5px 5px;
}

#mainContent input {
	width: 301px;
	height: 18px;
	margin: 0 0 5px 0;
	float: left;
	border-left: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	border-top: 1px solid #aaa;
}

#mainContent select {
	height: 20px;
	margin: 0 0 5px 0;
	float: left;
	border-left: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	border-top: 1px solid #aaa;
}

#mainContent textarea {
	width: 301px;
	height: 100px;
	margin: 0 0 5px 0;
	float: left;
	border-left: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	border-top: 1px solid #aaa;
}

div.appFormLeft {
	float: left;
	width: 426px;
}

div.appFormLeft div.appHeader {
	width: 433px;
}

div.appFormRight {
	float: right;
	width: 426px;
}

div.appFormRight div.appHeader {
	width: 433px;
}

#mainContent br {
	clear: both;
}

#mainContent input.appBtn {
	float: right;
	width: 82px !important;
	height: 32px !important;
	padding: 0 !important;
	margin: 5px -5px 0 5px !important;
	text-align: center;
	border: none !important;
	cursor: pointer;
	cursor: hand;
}

#mainContent input#lastNameSearch, #mainContent input#carrierSearch {
	margin: -6px 0 0 5px !important;
	float: left;
}

#mainContent input.city, #mainContent input.effectiveDate, #mainContent input.renewalDate {
	width: 100px;
}

#mainContent input.state {
	width: 25px;
}

#mainContent input.zip, #mainContent input.storeNumber {
	width:45px;
}

#mainContent input.companyName {
	width: 480px;
}

#mainContent input.date, #mainContent input.phone2 {
	width: 80px !important;
}

#mainContent input.phone, #mainContent input.fax, #mainContent input.ext, #mainContent input.social, #mainContent input.social2 {
	width: 35px;
}

#mainContent input.social3 {
	width: 50px;
}

.radio {
	width: auto !important;
	margin: 0 5px 5px 0 !important;
}

.showFields {
	display: none;
}

/*--inline form styles--*/

form.appForm {
	width: 850px;
	padding: 6px 0 0 13px;
	margin: -11px 0 15px 0;
	line-height: 18px;
}

.appForm label {
	margin: 5px 5px 0 0;
	float: left;
}

.appForm input {
	height: 18px;
	margin: 5px 5px 0 0 !important;
	border-left: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	border-top: 1px solid #aaa;
	display: inline;
}

.appForm select {
	height: 20px;
	margin: 0 5px 0 0 !important;
	border-left: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	border-top: 1px solid #aaa;
	display: inline;
}

div.formLeft {
	float: left;
	width: 680px;
}

div.labelsColumn {
	width: 80px;
	float: left;
	margin: 0 10px 0 0;
}

div.labelsColumn label {
	width: 100px;
	display: block;
	margin: 0 0 5px 0;
	line-height: 20px !important;
}

div.inputColumn {
	float: left;
}

div.inputColumn input, div.inputColumn select, div.inputColumn textarea {
	margin: 0 0 5px 0 !important;
}

div.formBtns {
	float: right;
	width: 164px;
	margin: -6px 5px 0 0;
}

.appForm input.appBtn {
	float: left;
	width: 82px !important;
	height: 32px !important;
	padding: 0 !important;
	margin: 0 !important;
	text-align: center;
	border: none !important;
	cursor: pointer;
	cursor: hand;
}

.appForm input#name, .appForm input#address {
	width: 115px;
}

.appForm input#city, .appForm input#effectiveDate, .appForm input#renewalDate {
	width: 100px;
}

.appForm input#state {
	width: 25px;
}

.appForm input#zip, .appForm input#storeNumber {
	width:45px;
}

.appForm select#select, .appForm input#cityArea {
	width: 200px;
}

.appForm input#locationName {
	width: 270px;
}

.appForm input#companyName {
	width: 480px;
}

.appForm input.date {
	width: 70px !important;
}

/*--date picker--*/

.wideAppForm img, .shortAppForm img {
	float: left;
	margin: 0 5px;
}

table.calTable img {
	float: right;
}

td.calR {
	font-family: Arial Narrow, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: #000;
}

td.tBox {
	padding: 10px 0;
}

/*--tables--*/

#mainContent table {
	font-size: 10px;
	border-collapse: collapse;
	text-transform: uppercase;
	width: 866px;
	position: relative;
	margin: 0 0 15px -3px;
}

div.appFormLeft table, div.appFormRight table {
	width: 433px !important;
}

#mainContent td {
	padding: 5px 13px;
}

#mainContent table.searchResults td {
	padding: 5px 10px;
}

#mainContent table#locationSearch {
	margin: 0 0 15px -3px;
}

#mainContent th.dynamicBtn {
	text-align: center !important;
}

#mainContent td.dynamicBtn, #mainContent td.select {
	text-align: center;
	width: 82px;
	padding: 0;
	text-transform: none;
	color: #fff !important;
	line-height: 14px;
	background: #fff !Important;
}

#mainContent td.dynamicBtn h3, #mainContent td.select h3 {
	background: url(../../images/dynamicBtnMidBlue.jpg) repeat-y top center #fff  !important;
	color: #fff !important;
	font-size: 12px;
}

#mainContent td.last {
	border-right: 6px solid #fff !important;
}

#mainContent td.pageNumbers {
	font-size: 12px;
	text-align: right;
	text-transform: none;
}

#mainContent td a {
	display: block;
	color: #fff;
}

#mainContent tr.odd, #mainContent tr.even {
	border-bottom: 3px solid #fff;
	border-left: 6px solid #fff;
}

#mainContent tr.odd {
	background: #E2E8EE;
}

#mainContent th {
	background: url(../../images/sectionBkgdRight.jpg) top right repeat-y #DEDEDE;
	border-bottom: 6px solid #fff;
}

#mainContent th h3 {
	padding: 0 15px 0 7px !important;
	margin: 0 0 0 7px;
	display: block;
	text-transform: none;
	color: #333;
	font-size: 12px;
	overflow: hidden;
	background: url(../../images/sectionMidRight.jpg) top right no-repeat;
	min-height: 15px;
}

#mainContent th.view h3 {
	width: auto;
	padding: 0 8px 0 0 !important;
	margin: 0 !important;
}

div.tableSectionBkgd {
	background: url(../../images/sectionBkgdLeft.jpg) top left repeat-y;
}

div.sectionTitle {
	min-height: 15px;
	background: url(../../images/sectionMidMid.jpg) top center repeat-x;
}

.sectionLeftCorner {
	float: left;
}

.sectionRightCorner {
	float: right;
}

p.tableKey {
	padding: 0;
	margin: 0 0 5px 0;
	float: right;
	text-align: right;
	text-transform: uppercase;
	font-size: 10px;
}

span.canceled {
	color: #900;
}

/*--scrollable table styles--*/

div.scrollTable {
	height: 400px;
	width: 863px;
	margin: 5px 0 0 -3px;
	padding: 0;
	overflow: scroll;
	overflow-y: scroll !important;
	overflow-x: hidden !important;
}

.scrollTable table {
	width: 845px !important;
	margin: 0 !important;
}

ul#tabGroup {
	margin: 0; padding: 0;
}

#tabGroup li {
	margin: 0 0 1px 0;
	list-style-type: none;
	float: left;
	background: url(../../images/tabOffMid.gif) top center repeat-x;
}

#tabGroup li h3 {
	background: url(../../images/tabOffLeft.gif) top left no-repeat;
}

#tabGroup li a {
	padding: 10px 10px;
	background: url(../../images/tabOffRight.gif) top right no-repeat;
	display: block !important;
	color: #fff;
}

#tabGroup li.ui-tabs-selected {
	background: url(../../images/tabOnMid.gif) top center repeat-x;
}

#tabGroup li.ui-tabs-selected h3 {
	background: url(../../images/tabOnLeft.gif) top left no-repeat;
}

#tabGroup li.ui-tabs-selected h3 a {
	background: url(../../images/tabOnRight.gif) top right no-repeat;
	color: #000;
}

/*--buttons--*/

div.bigDynamicBtn {
	margin: 0 -3px 0 0;
	background: url(../../images/bigBtnTopLeft.gif) top left no-repeat;
	float: right;
}

div.bigBtnBottom {
	background: url(../../images/bigBtnBottomLeft.gif) bottom left no-repeat;
}

div.bigDynamicBtn h3 {
	float: left;
	display: block;
	font-size: 12px !important;
	background: url(../../images/bigBtnTopRight.gif) top right no-repeat;
}

div.bigDynamicBtn a {
	float: left;
	font-size: 12px !important;
	line-height: 100%;
	padding: 10px 13px !important;
	background: url(../../images/bigBtnBottomRight.gif) bottom right no-repeat;
	color: #fff;
}

.wideAppForm div.bigDynamicBtn, .shortAppForm div.bigDynamicBtn {
	margin: -7px -3px 15px 0 !important;
}

/*--tabs--*/

.ui-tabs { position: relative; padding: 0; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
/*.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }*/
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
