﻿<%@ Page Language="C#" MasterPageFile="~/myVesrionMaster.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="defaultContent" ContentPlaceHolderID="mainContent" Runat="Server">
    <asp:Panel runat="Server" ID="AnonymousMessagePanel">
        <asp:HyperLink runat="server" ID="lnkLogin" Text="Log In" NavigateUrl="~/Login.aspx"></asp:HyperLink>        
    </asp:Panel>
</asp:Content>
