﻿<%@ Page Title="" Language="VB" MasterPageFile="~/myVesrionMaster.master" AutoEventWireup="false" CodeFile="Logout.aspx.vb" Inherits="Logout" %>

<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" Runat="Server">

</asp:Content>

