<%@ Master Language="VB" CodeFile="myeworkwell_webapp_dashboard.master.vb" Inherits="webapp_myeworkwell_webapp_dashboard" Debug="true"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
		<head runat="server">
		<title>myeWorkWell</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Content-Language" content="en-us" />
		<meta name="Copyright" content="Copyright (c)2011 WorkWell" />
		<meta name="Keywords" content="WorkWell, Pennsylvania" />
		<meta name="robots" content="all" />
		<meta name="Description" content="WorkWell is..." />
		<meta name="author" content="WorkWell" />
		<meta name="Rating" content="General" />
		<meta name="Language" content="en" />
		<meta name="Generator" content="Notepad" />
		<meta name="verify-v1" content="M6vPUTys3heFteVkkSmAbtRBOEebz4BAzN/D8l76Tck=" />
		<link href="common/styles/global.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="common/styles/webapp.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="common/styles/print.css" rel="stylesheet" type="text/css" media="print" />
		<script src="common/scripts/jquery-1.5.js" type="text/javascript"></script>
		<script src="common/scripts/cufon-yui.js" type="text/javascript"></script>
		<script type="text/javascript" src="common/scripts/Delicious_700.font.js"></script>
		<script type="text/javascript">
		    Cufon.replace('h1'); // Works without a selector engine
		    Cufon.replace('h2'); // Works without a selector engine
		    Cufon.replace('ul#fourTabGroup li a');
		    Cufon.replace('ul#hiddenTabs li');
		</script>
		</head>
		<body id="home">
            
                <div id="container"> 
                  <form id="masterForm" runat="server">  
                  <!--make the footer stay put - everything but footer inside this div--> 
                  
                  <a name="top"></a>
                    <div id="topBar" class="wrapper">
                      <div id="tollFreeNumber">To schedule an appointment for an injury, call 800-662-2400</div>
                      <ul id="subNav">
                        <li><asp:LoginStatus ID="LoginStatus1" runat="server" LogoutAction="Redirect" LogoutPageUrl="~/Logout.aspx?iS=1" /></li>
                      </ul>
                    </div>
                    <div id="mainHeader">
	                    <img src="images/logoEWorkWell.gif" height="56" width="354" alt="WorkWell" style="margin: 5px 0 0 0; float: left;" />
  	                    <ul id="mainNav">
    	                    <li>
        	                    <asp:HyperLink ID="dashBoardLnk" runat="server" Height="33" Width="102" AlternateText="Home"></asp:HyperLink> 
		                    </li>
  	                    </ul>
  	                    <div class="clearBoth"></div>
                    </div>
                    <div id="navBottomBorder"></div>

                  <div id="whiteContentBkgd">
                        <div class="clearBoth"></div>
                        <div class="clearBoth"></div>
                        <noscript>
                            <div class="error">
                                    You must enable javascript to be able to completely use all aspects of this site.
                            </div>
                        </noscript>
                        <div id="mainContent" class="wrapper">                            
                            <asp:ContentPlaceHolder id="contentHldr" runat="server">
                                <asp:LoginView ID="loginView" runat="server">
                                    <LoggedInTemplate></LoggedInTemplate>
                                    <AnonymousTemplate></AnonymousTemplate>
                                </asp:LoginView>
                            </asp:ContentPlaceHolder>
                        </div>
                        <div class="clearBoth"></div>
                  </div>
                  <div class="clearfooter"></div>
                  </form>
                </div>
                <!--end of: make the footer stay put - everything but footer inside this div--> 

                <!--#include file="common/includes/footer-webapp.html"--> 
                <script type="text/javascript">                    Cufon.now(); </script>
            
        </body>
</html>








