<div id="footerBkgd" class="eWorkWellFooter">
  <div id="footer" class="wrapper">
    <div id="footerColLeft">
      <h2>Contact Information</h2>
      <p>WorkWell, Inc. &copy; 2011 <br />
        25 West Main Street<br />
        Carnegie, PA 15106<br />
        412-279-5300</p>
    </div>
    <div id="footerColRight">
      <h2>myeWorkWell Menu</h2>
      <ul id="webMenuLeft">
        <li><a href="LandingPage.aspx">Dashboard</a></li>
        <li><a href="#">WorkWell Contact</a></li>
        <li><a href="#">Status Reports</a></li>
        <li><a href="#">Physician Panel</a></li>
      </ul>
      <ul id="webMenuMid">
        <li><a href="#">Announcements</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Account Info</a></li>
        <li><a href="#">User Profile</a></li>
      </ul>
      <ul id="webMenuRight">
        <li><a href="#">Injuries</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
      <div class="clearBoth"></div>
    </div>
    <div class="clearBoth"></div>
  </div>
</div>
