<a name="top"></a>
<div id="topBar" class="wrapper">
  <div id="tollFreeNumber">To report an injury call 800-662-2400</div>
  <ul id="subNav">
    <li><a href="Logout.aspx">Logout</a></li>
  </ul>
</div>
<div id="mainHeader">
	<img src="images/logoEWorkWell.gif" height="56" width="354" alt="WorkWell" style="margin: 5px 0 0 0; float: left;" />
  	<ul id="mainNav">
    	<li>
        	<a href="<%= ReturnURl%>">
            	<img src="images/tabOnDashboard.jpg" height="33" width="102" alt="Home" />
            </a>
		</li>
  	</ul>
  	<div class="clearBoth"></div>
</div>
<div id="navBottomBorder"></div>
